*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alexandria',sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.pagetitle{
    position:absolute;
    /* background-color: red; */
    width: 95%;
    margin-left: 50px;
    font-weight: 500;
    top: 200px;
    font-size: 35px;
    z-index: auto;
}

.pagebody{
    min-height: 1450px;
   
}

.filtertoggler{
    position: absolute;
    top: 260px;
    left: 50px;
    width: 100px;
    height: 45px;
    z-index: auto;
    font-size: 19px;
    line-height: 45px;
    font-weight: 500;
    /* opacity: 0; */
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(226, 228, 235);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filtertoggler img{
    /* background-color: red; */
    min-height: 18px;
    min-width: 18px;
    position: relative;
}

.togglertext{
    /* background-color: green; */
    cursor: pointer;
}



.removetoggler{
    display: block;
    height: 25px;
    width: 25px;
    position: relative;
    top: 70px;
    left: 30px;
    background-image: url(/SRC/close.png);
    background-color:transparent;    background-size: cover;    
    border: 0px;
    /* display: none; */
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.filtermenu{
    border: 2px solid black;
    width: 300px;
    height: 100vh;
    position: fixed ;
    display: block;
    transition: 
    0.5s;
    background-color: rgb(255, 255, 255);
    z-index: 4;
    overflow: auto;
    left: -300px;
}

#filtersectiontitle{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 100px;
    left: 30px;
    /* background-color: red; */
    width: fit-content;
}

.filtercontainer{  
    height: 700px;
    /* background-color: red; */
    position: relative;
    top: 120px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.filtersection{
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    z-index: 1;
    background:none;
    border: none;
    border: 1px solid rgb(203, 194, 194);
    font-weight: 500;

    
}

.filtersection img{
    height: 30px;
    width: 30px;
    /* background-color: blue; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.filtertitle{
    height: 30px;
    width: fit-content;
    /* background-color: green; */
    position: relative;
    padding-right: 70px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
}

.togglermenu img{
    width: 10px;
    height: 10px;
    position: relative;
}

.filterbody{
    z-index: 0;
    height: 300px;
    border-left: 1px solid rgb(203, 194, 194);
    border-right: 1px solid rgb(203, 194, 194);



    width: 100%;
    display: block;
}

.conditions{
    height: 150px;
}


.bodywrap {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    /* background-color: pink; */
    justify-content: space-evenly;

}

.checkboxline input[type='checkbox']{
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.checkboxline{
    display: flex;
    align-items: center
}

.checktext{
    padding-left: 10px;
}

.subject{
    height: 450px;
}

.bsubject{
    height: 90%;
}






.gridcontainer{

    width: 90%;
    /* width: 1450px; */
    height: fit-content;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 220px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1fr);
    gap: 50px;
    background-color: rgb(204, 228, 204);
}

a{
    text-decoration: none;
    color: black;
}

.box{
    height: 300px;
    width: 100%px;
    position: relative;
    background-color: white;
    /* box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2); */
    border: 1px solid rgb(219, 217, 217);
}



.imgcontainer{
    background-color: rgb(169, 222, 190);
    width: 200px;
    position: relative;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.imgcontainer img{
    min-width: 100%;
    min-height: 100%;
    
}

.infocontainer{ 
    width: 200px;
    /* background-color: beige; */
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.flexcontainer{
    width: 90%;
    height: 90%;
    /* background-color: violet; */
    display: flex;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}



.booktitle{
    padding-top: 15px;
    height: 100px;
    /* background-color: red; */
    font-size: 17px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-weight: 600;
}

.flexrow{
    display: flex;
    padding-top: 3px;
}

.label,.info{
    font-size: 15px;
}

.label{
    font-weight: bold
}

.info{
    font-weight: 300;
    padding-left: 3px;
}


.bookinfocontainer{
    margin-top: 20px;
    /* background-color: rgba(72, 199, 180, 0.534); */
    position: relative;
}

.price{
    margin-top: 29px;
    /* background-color: aqua; */
    font-weight: bold;
    font-size: 23px;
}

.bottomnav{
    width: 95%;
    background-color: rgb(151, 146, 146);
    position: relative;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.bottombtn{
    width: 50px;
    background:none;
    border: none;
    cursor: pointer;
}

.bottombtn img{
        /* background-color: blue; */
        position: relative;
        left: 0;
    height: 80%;
    width: 80%;
    
}

.linkwrap{
    width: 100%;
}

.bookedit{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    background-color: red;
    cursor: pointer;
}

.bookedit img{
    width: 20px;
    height: 20px;
}







@media (max-width:450px) {

    .pagetitle{
        font-size: 30px;
        top: 190px;
        margin-left: 0;
        margin-left: 10px;
    }

    .imgcontainer{
        width: 280px;
        height: 220px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .gridcontainer{
        width: 98%;
        top: 180px;
    }

    .box{
      
        width: 99vw;
    }


    .filtertoggler{
        height: 40px;
        width: 80px;
        font-size: 15px;
        top: 220px;
        margin-left: 0;
        margin-left: 15px;
    }

    .filtertoggler img{
        position: relative;
        min-width: 14px;
        min-height: 14px;

    }

    .booktitle{
        font-size: 16px;
        height: 100px;
    }

    .label,.info{
        font-size: 13px;
    }



   
}