*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
}

a:visited { text-decoration: none; color:rgb(253, 253, 253); }
/* a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; } */
a:hover, a:active { text-decoration: none; color:rgb(159, 213, 53) }
/* css per togliere i colori quando si visita i link 
- active/hover quando si va sopra il link
- visited si resetta al colore normale impostato
*/



a{
    text-decoration: none;
}

p{
    font-weight: 300;
}




.pagebody{
    background-color: rgb(193, 234, 245);
}

/*--fine-- */


/*--sezione upperbar--*/
.title{
    width: 80%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding-left: 40px;
    font-size: 35px;
    font-weight: 500;
}

.flexcontainer{
    flex-direction: row;
    height: 100%;
    width: 20%;
    display: flex;
    float: right;
    align-items: center;
    padding-right: 50px;
    font-size: 20px;
    justify-content: space-around;
}
/* --fine-- */

/* --sezione body-- */
.flexbodycontainer{
    background-color: rgb(180, 176, 176);
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.flexbodyitem1{
    height: 500px;
    background-image: url(/SRC/1042582.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.layover{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35)
}

.bodytitle1{
    color: rgb(12, 12, 12);
    position: absolute;
    top: 350px;
    font-size: 50px;
}

.bodyp1{
    position:absolute;
    top: 415px;
    font-size: 17px;
}



/* fine prima sezione body */

.bottom{
    height: 500px;
    background-color: rgb(222, 215, 215);
}

.flexitem1{
    width:350px;
    background-color: green;
}

.subtitle{
    font-weight: bold;
    font-size: 30px;
}

.desc{
    font-size: 17px;
}





/* fine seconda sezione body */
/* --fine-- */



@media (max-width:768px) {
/* sezione upperbar */
    .upperbar{
        z-index: none;
    }

    .title{
        width: 50%;
        font-size: 25px;
        padding-left: 15px;
    }

    .flexcontainer{
        width: 50%;
        font-size: 15px;
        padding: 0;
        padding-left: 5px;
        padding-right: 15px;
    }
    /* fine */

    /* sezione body */
    .flexbodyitem{
        background-position: right;
    }

    .bodytitle,.bodyp{
        padding-left: 20px;
        background-size: 100% 100px;
    }


    
    .flexbodyitem2_1{
        width: 100%;
        padding-bottom: 50px;
    }

    .flexbodyitem2_2{
        position: relative ;
        left: 50%;
        transform: translatex(-50%);
    }

    .flexbodyitem2_2 img{
        width: 380px;
        height: 280px;
    }
    /* fine */
}

@media (max-width:1030px) {
    
    .flexbodycontainer2{
        flex-direction: column;
        padding-top: 0;
    }
    
}