*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alexandria','Sans serif';
}

.pagebody{
    height: 200vh;
}

.pagetitle{
    width: 50%;
    position: relative;
    left: 50%;
    transform:translateX(-50%);
    margin-top: 40px;
    font-size: 28px;
    font-weight: 500;
}

.formcontainer{
    height: 1320px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    position: relative;
    left: 50%;
    margin-top: 20px;
    transform:translateX(-50%);
    border: 3.5px solid rgb(134, 126, 126);
}

.booktitlecontainer{
    height: 70px;
    border-bottom: 1px solid black;
}

.booktitle{
    position: relative;
    top: 50%;
    transform:translateY(-50%);
    text-align: center;
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 25px;
    font-weight: 400;
}

.booktitle:focus{
    outline: none;
}


/* ------ */

.uploadcontainer{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.inputcontainer{
    overflow:scroll ;
    width: 250px;
}

#uploadhint{
    font-size: 20px;
    padding-bottom: 20px;
    width: 83%;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
  
}
.fileinput{
    padding-bottom: 30px;
}




input[type="file"]::file-selector-button{
    border: 1px solid black;
    background-color: white;
    size: 40px;
    font-weight: 300;
}

input[type="file"]:hover{
    cursor: pointer;
}


.imgupload{
    border: 3px solid black;
    height: 350px;
    width: 250px;
    border: none;
    background-image: url(./coverthumbnail.jpg) ;
    background-size: cover;
    background-position: center;

}

.fleximgupload{
    display: flex;
    justify-content: space-around;
}

.fleximg{
    display: flex;
    justify-content: space-around;
}

.flexhintcover{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.centercontainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.weaklabel{
    font-weight: 300;
}




/* ------- */



.bookdesccontainer{
    height: 300px;
    border-bottom: 1px solid black;
}

.desclabel{
    width: 83%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    padding-bottom: 5px;
}


 .bookdesc{
    width: 83%;
    height: 70%;
    position: relative;
    resize: none;
    background: none;
    border: none;
    outline: none;
    font-weight: 300;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
} 

.maxchar{
    font-size: 13px;
    position: fixed;
    top: 54%;
    transform: translateY(1000%);
    right: 70px;
}

/* ------- */

.optionscontainer{
    padding-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.optionsflexcontainer{
    display: flex;
    justify-content: space-around;
}


.row{
    width: 30%;
}


.option{
    display:flex;
    flex-direction: column;
    height: 80px;
}

.label{
    font-size: 20px;
    font-weight: 700;
}

.selection{
    height: 40px;
    cursor: pointer;
}

.inputoptionarea,.pricetext{
    height: 40px;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid gray;
}

.i1{
    font-size: 14px;
}

.postbtn{
    width: 120px;
    height: 50px;
    position: absolute;
    left: 10%;
    bottom: 50px;
    background-color: rgb(76, 171, 182);
    border: 1px solid black;
    color: white;
    cursor: pointer;
   
}

.postbtn:hover{
        background-color:rgb(159, 213, 53);
        transition: 0.3s;
    }


.priceoption{
    position: relative;
    left: 10%;

}
