* {
    margin: 0;
    box-sizing: border-box;
    font-family: Alexandria, sans-serif;
}

/* impostazione peso parti */
.upperbar {
    height: 85px;
    background-color: rgb(90, 67, 204);
    position: relative;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
}

.mobilesection {
    height: 75px;
    background-color: rgb(255, 255, 255);
    display: none;
}

.desktopmenu{
    height: 100%;
    width: 300px;
    /* background-color: rgb(27, 118, 56); */
    padding-right: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around  ;
}

.publish{
    right: 0;
    position: relative;
    width: 150px;
    height: 40px;
    background: none;
    background-color: white;
    border: 1px solid black;
    font-size: 14px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 0.2rem;
}

.publish:hover{
    background-color: rgb(174, 219, 61);
    transition: 0.3s;
}

.hovermenu{
    height: 220px;
    width: 208px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: absolute;
    right: 200px;
    top: 89px;
    z-index: 1;
    display: none;
    /* display: block; */
}

.line{
    height: 55px;
    display: flex;
    align-items: center;
    /* background-color: green; */
    padding-left: 10px;
    border-bottom: 1px solid rgb(217, 213, 213);
}

.line img{
    width: 20px;
    height: 20px;
}

.hovertext{
    padding-left: 10px;
    color: grey;
}

.line:hover{
    background-color: rgb(224, 224, 224);
    transition:0.1s;
}

.hovercontainer{
    height: 110px;
    width: 70px;
    /* background-color: blue; */
}

.bottomarrow img{
    width: 9px;
    height: 5px;
    position: relative;
    left:78px;
    margin-bottom: 3px;
}

.exit{
    color: rgb(205, 69, 69);
}

.pfphover img{
    height: 50px;
    width: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}





.hovercontainer:hover .hovermenu{
    display: block;
}


/* fine */

/* ---- MODULO RELATIVO ALL'UPPERBAR MODIFICARE CON ATTENZIONE ---- */

.title {
    padding-left: 35px;
    line-height: 85px;
    font-size: 30px;
    display: block;
    width: fit-content;

}

.title a {
    text-decoration: none;
    color: white
}

.title a:hover {
    color: rgb(159, 213, 53);
    transition: 0.3s;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    padding-right: 35px;
    display: none;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 8px;
    transition: 0.3s;
}



.menu li a:hover {
    color: rgb(159, 213, 53);
}

/* CREAZIONE LINEE */
.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before {
    width: 30px;
    top: -10px;
}

.hamburger::after {
    width: 30px;
    top: 10px;
}

/* FINE CREAZIONE LINEE */


/* CSS CHECKBOX */
.toggle-menu {
    position: absolute;
    background-color: red;
    right: 10px;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    /* problemino, rispetto al video la checkbox non si posiziona sopra */
}

/* FINE CSS CHECKBOX */

.hamburger,
.toggle-menu {
    display: none;
}

.menu li a,
.menu li a:hover {
    padding: 20px;
    font-size: 20px;
}

.navigation input:checked~.hamburger {
    background: transparent;
}

.navigation input:checked~.hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked~.hamburger::after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked~.menu {
    right: 0;
}

/* ----- FINE MODULO UPPERBAR ----- */

/* CSS SEARCHBAR */

.searchbar {
    width: 100%;
    height: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e9e9e9;
    border: 0px;
    padding-left: 30px;
    border: 1px solid rgb(86, 84, 84);
    border-radius: 0.2rem;
}

.searchwrap {
    position: absolute  ;
    height: 100%;
    width: 600px;
    /* background-color: red; */
    left: 50%;
    transform: translateX(-55%);
}

.searchbar[type=search] {
    background-image: url(/SRC/searchbaricon.png);
    background-size: 15px;
    background-position: center;
    background-position: right;
    background-position: 10px;
    background-repeat: no-repeat;
}

img{
    width: 30px;
    height: 30px;
}





@media (max-width:1200px) {

    .hovermenu{
        display: none;
    }

    .desktopmenu{
        display: none;
    }

    .menu{
        display: block;
    }

    /* Media query relativo a burger menu */

    .upperbar{
        height: 80px;
    }

    .searchwrap {
        display: none;
    }

    .title {
        position: absolute;
        left: 40px;
        line-height: 80px;
    }

    .toggle-menu,
    .hamburger {
        left: 20px;
    }

    .hamburger,
    .toggle-menu,
    .mobilesection {
        display: block;
    }

    .menu {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        left: -300px;
        top: 0;
        background-color: rgb(75, 75, 75);
        width: 250px;
        height: 100vh;
        padding-top: 100px;
        border-right: 8px solid rgb(174, 219, 61);

    }

    .menu li {
        width: 100%;
    }

    .menu li a,
    .menu li a:hover {
        padding: 17px;
        padding-left: 5%;
        font-size: 17px;
        position: relative;
        right: 30px;
        border-bottom: 1px solid #f0f0f0;
        box-sizing: content-box;
        width: 95%;

    }

    .navigation input:checked~.menu {
        left: 0;
    }


    .navigation input:checked~.hamburger {
        background: transparent;
    }

    .navigation input:checked~.hamburger::before {
        top: 0;
        transform: rotate(-45deg);
        width: 30px;
    }

    .navigation input:checked~.hamburger::after {
        top: 0;
        transform: rotate(45deg);
        width: 30px;
    }


    .searchbar {
        height: 65%;
        width: 95%;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        
   
        

    }
        /* fine */

}