*{
    margin: 0;
    box-sizing: border-box;
    font-family: Alexandria, sans-serif;
}

.maincontainer{
    width: 1000px;
    height: 600px;
    /* background-color: red; */
    position: relative;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    border: 3px solid black;
    
}

.top{
    height: 90px;
    /* background-color: rgb(169, 160, 160); */
    line-height: 90px;
    padding-left: 20px;
    font-size: 30px;
    border-bottom: 2px solid black;
    font-weight: 500;
}

.section1{
    height: 180px;
    /* background-color: aqua; */
    display: flex;
    border-bottom: 2px solid black;
}

.profilepic{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    border-radius: 50%;
    background-image: url(/SRC/profilepic.png);
    background-position: center;
    background-size: cover;
}

.name,.username{
    padding-left: 50px;
}

.name{
    font-size: 30px;
    font-weight: 600;
}

.namewrap{
    padding-left: 20px;
    height: fit-content;
    position: relative;
    top: 43%;
    transform: translateY(-50%);
}

.subtitle{
    font-size: 30px;
    font-weight: 500;
}

.subtitle1{
    padding-top: 30px;
}

.bottomsectionwrap{
    padding-top: 40px;
    padding-left: 30px;
}

.flexinfo{
    display: flex;
}

.useremail,.field{
    padding-left: 5px;
}





@media (max-width: 1150px) {
    .maincontainer{
        width: 85vw;
        top: 30px;
    }

    .section1{
        flex-direction: column;
        height: 250px;
    }

    .profilepic{
        transform: translateX(-50%);
        left: 50%;   
        top: 30px;
     }

     .namewrap{
        padding-left: 0;
        padding-bottom: 60px;
     }

     .name,.username{
        width: 100%;
        padding-left: 0;
        text-align: center;
     }

     .username{
        font-size: 16px;
     }

     .name{
        font-size: 24px;
     }

     .subtitle{
        font-size: 25px ;
     }
}

@media(max-width:500px) {
    .bottomsectionwrap{
        padding-left: 15px;
    }

}