*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alexandria','Sans serif';
}


html {
    height: 100%;
}
body {
    min-height: 1000px;
}

.pagebody{
    height: 100%;
}

body{
    background-color: rgba(237, 237, 237, 0.175);
}

.heart{
    position: relative;
    left: 6px;
    top: 2px;
   background-color: none;
   width: 15px;
   height: 15px;
}





.maincontainer{
    height: 700px;
    width: 70%;
    position: relative;
    left: 50%;
    margin-top: 100px;
    transform: translateX(-50%);
    border:1px solid rgb(171, 168, 168);
    display: flex;
}

/* PARTE DI DESTRA
 */
.pagetitle{
    display: none;
}

.imgsection{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(192, 192, 213); */
}

.infosection{
    height: 100%;
    width: 40%;
    /* background-color: rgb(180, 229, 229); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left:1px solid rgb(171, 168, 168);
}

.booktitle{
    /* border:1px solid rgb(171, 168, 168); */
    border: none;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 10px;
    height: 5%;
}


textarea{
    height: 40%;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: 300;
    resize: none;
    /* border:1px solid rgb(171, 168, 168) */
    border: none;

}

::-webkit-scrollbar {
    display: none;
}


textarea,input,.username{
    width: 80%;
}

.uploadbtn:hover{
    background-color: rgb(174, 219, 61);
    transition: 0.3s;
}

.optionscontainer{
    height: 6%;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    border-bottom:1px solid rgb(171, 168, 168);
    padding-top: 10px;
    padding-bottom: 8px;
}

.btncontainer{
    height: 5%;
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.submitbtn{
    height: 40px;
    width:220px;
    font-size: 15px;
    background: none;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    background:transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    /* background-color: red; */
    position: relative;
    top: -0.5px;
}





.submitbutton:hover{
    /* background-color: rgb(174, 219, 61); */
    transition: 0.3s;

}

#reportbutton:hover{
    background-color: rgb(219, 61, 61);
    transition: 0.3s;

}

#reportbutton img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
}

#reportbutton{
    width: 40px;
    height: 40px;
    border: 1px solid black ;
    background:none;
    cursor: pointer;
}


.sellermail{
    width: 70%;
    text-align: right;    
    overflow: scroll;
    background:none;
        font-style: italic;
}
.price{
    width: 20%;
    text-align: right;
}
.sellermail,.price,.isbn{
    border:none;
    background: none;
    font-size: 15px;
    font-weight: 400;
}

.isbn{
    width: 35%;
    text-align: right;
    font-size: 17px;
}

.label{
    font-weight: 550;
}
/* 
select{
    font-weight: 200;
    font-size: 16px;
    background: none;
    background-color: white;
    border: 1px solid black;
    text-align: right;
    width: 30%;
    cursor: pointer;
} */

.userinput{
    font-weight: 300;
}

.usernamelabel{
    width: 80%;
    font-weight: 300;
    margin-bottom: 10px;


}

.username{
    display: inline;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 10px;


}

.btnslide{
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    background:none;
    border: none;
}

.btn1{
    left: -80px;
    background-image: url(/SRC/larrow.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
  
}

.btn2{
    right: -80px;
    background-image: url(/SRC/rarrow.png);
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
}

.imgcontainer{
    position: absolute;
    height: 550px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: red;  
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgcontainer img{
    height: 100%;
    min-width: 100%;
    object-fit: fill;
    object-position: left ;
}

.imgcontainer img:nth-child(1){
    display: block;
}

.imgcontainer img{
    display: none;
}

.reportcontainer{
    height: 400px;
    width: 650px;
    /* background-color: red; */
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 4px;

}

.reportcontainer::backdrop{
    background-color: rgba(91, 91, 91, 0.5);

}

.reporttitle{
    width: 100%;
    /* background-color: blue; */
    font-size: 25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;

}

.reportarea{
    width: 100%;
    position: relative;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    border: 1px solid grey;

}

.reportbtncontainer{
    display: flex;
    position: relative;
    top: 50px;
    /* background-color: green; */
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
}

.reportbtn{
    height: 40px;
    border: none;
    border: 1px solid black;
    background: none;
    cursor: pointer;
    width: 70px;
}
.reportwrap{
    /* background-color: yellow; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top: 30px;
   

}


@media (max-width:1400px) {

   

    .pagetitle{
        display: flex;
        justify-content: center;
        font-size: 28px;
        font-weight: 500;
        display: block;
        width: 100vw;
        padding-right: 5%;
        padding-left: 5%;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        inline-size: 100vw;
        height: 200px;    
        line-height: 200px;
        max-height: 200px;
     }

     span
     {
       display: inline-block;
       vertical-align: middle;
       line-height: 30px; 
       width: 100%;
     }

    .maincontainer{
        margin-top: 20px;
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .imgsection,.infosection{
        width: 100%;
    }

    .infosection{
        height: 650px;
        padding-bottom: 50px;
        top: 0;
    }

    .imgsection{
        height: 500px;
    }

    .img{
        margin-top: auto;
        object-fit: cover;
    }


    .uploadbtn{
        width: 100%;
        text-align: center;
    }

    .uploadhint{
        text-align: center;
        margin-left: 0;
        margin-bottom: 25px;
    }

    .fleximgcontainer{
        top: 38%;
        height: 100%;
    }

    .imgcontainer{
        align-items: center;
        margin-bottom: 40px;

    }

  

    .booktitle{
        display: none;
    }

   
}

@media (max-width:360px){

    .uploadbtn{
        font-size: 12px;
    }
}

@media (max-width:1000px){

   

    .imgsection{
        justify-content: space-between;
    }


    .imgsection{
        width: 90vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .imgcontainer{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}

@media(max-width:600px) {

    .imgcontainer{
        width: 320px;
        height: 500px;
        position: absolute;
    }

    .btn1{
        left: 0;
    }

    .btn2{
        right: 0;
    }
    
    
}















