*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alexandria', sans-serif;
}



a{
    text-decoration: none;
}

p{
    font-weight: 300;
}



/*--suddivisione peso pagina--*/
.upperbar{
    background-color: rgb(170, 169, 168);
    height: 12vh;
    position: sticky;
    top: 0;
    overflow: scroll;
    z-index: 1;

}

.pagebody{
    background-color: rgb(193, 234, 245);
}

footer{
    background-color: rgb(185, 127, 190);
    height: 12vh;
    width: 100%;
    position: relative;
    bottom: 0;
   
}
/*--fine-- */


/*--sezione upperbar--*/
.title{
    width: 70%;
    height: 100%;
    background-color: rgb(220, 235, 153);
    display: inline-flex;
    align-items: center;
    padding-left: 40px;
    font-size: 35px;
    font-weight: 500;
}

.flexcontainer{
    flex-direction: row;
    background-color: rgb(132, 241, 118);
    height: 100%;
    width: 30%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    font-size: 20px;
}
/* --fine-- */

/* --sezione body-- */
.flexbodycontainer{
    background-color: rgb(180, 176, 176);
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.flexbodyitem1{
    height: 500px;
    background-image: url(./1042582.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.layover{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.35)
}

.bodytitle1{
    color: red;
    position: absolute;
    top: 45%;
    font-size: 50px;
}

.bodyp1{
    position:absolute;
    top: 54%;
}



/* fine prima sezione body */

.flexbodycontainer2{
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100%;   
    padding-top: 40px;
    padding-bottom: 40px;
}

.flexbodyitem2_1{
    width: 50%;
}

.flexbodyitem2_2{
    width: 50%;
}

.flexbodyitem2_2 img {
    height: 350px;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.bodyp, .bodytitle{
    padding-left: 40px;
}

.bodyp2{
    font-size: 20px;
}

.bodytitle2{
    padding-top: 80px;
}


/* fine seconda sezione body */



/* --fine-- */

/* --sezione footer-- */
.flexfooter{
    height: 100%    ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

p{
    font-size: 30px;
}


@media (max-width:768px) {

    .title{
        width: 40%;
        font-size: 25px;
        padding-left: 10px;
    }

    .flexcontainer{
        width: 60%;
        font-size: 18px;
        padding: 0;
        padding-left: 5px;
        padding-right: 5px;
    }

}